antlr4-python3-runtime==4.8
asttokens==2.0.5
backcall==0.2.0
beautifulsoup4==4.12.3
black==21.12b0
catalogue==2.0.6
certifi==2021.10.8
cffi @ file:///C:/ci/cffi_1636542074879/work
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cymem==2.0.6
Cython==0.29.26
decorator==5.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
executing==0.8.2
future==0.18.2
google==3.0.0
h5py==3.6.0
hydra-core==1.1.1
idna==3.3
importlib-resources==5.4.0
imutils==0.5.4
ipython==8.0.1
jedi==0.18.1
Jinja2==3.0.3
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mkl-fft==1.3.0
mkl-random==1.1.0
mkl-service==2.3.0
murmurhash==1.0.6
mypy-extensions==0.4.3
numpy==1.24.4
omegaconf==2.1.1
opencv-python==3.4.17.63
packaging==21.3
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pdf2image==1.17.0
pickleshare==0.7.5
pillow==10.3.0
plac==1.1.3
platformdirs==2.4.1
portalocker==2.3.2
preshed==3.0.6
prompt-toolkit==3.0.24
pure-eval==0.2.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.11.2
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
pyparsing==3.0.6
pywin32==303
PyYAML==6.0
requests==2.27.1
scipy==1.10.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
soupsieve==2.5
spacy-loggers==1.0.1
stack-data==0.1.4
tabulate==0.8.9
toml==0.10.2
tomli==1.2.3
torch-scatter==2.0.9
tqdm==4.62.3
traitlets==5.1.1
wincertstore==0.2
zipp==3.7.0
